.container {
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}


body {
  background-color:rgb(43, 40, 40);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.btnn{
  width: 20%;
  background-color: #4ECCA3;;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 4% 1%;
  font-weight: bold;

}
.btnn-con{
  width: 75%;
  text-align: center;
  margin: 1% auto 1% auto;
  
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 1028px){
  .container {
    margin: auto;
    text-align: center;
  }
  
  .container img {
    width: 50%;
  }
  .dice {
    text-align: center;
    display: inline;
  
  }
  
}
